name: CI

on:
  push:
  pull_request:

jobs:
  dotnet-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Build solution
        run: dotnet build Unmask.sln --configuration Release

